.first 
{
            position: fixed;
            bottom: 270px;
            text-align: center;
            background:silver;
            right: 0;
            width: 200px;
            height: 30px;
            border: 1px solid rgb(143, 2, 101);        
            color:black;
}
.second
{
            position: fixed;
            bottom: 300px;
            text-align: center;
            background:silver;
            right: 0;
            width: 200px;
            height: 30px;
            border: 1px solid rgb(8, 8, 8);            
            color:black;
            
}
.third
{
            position: fixed;
            bottom: 0px;
            text-align: center;
            background:yellow;
            right: 0;
            width: 200px;
            height: 30px;
            border: 1px solid rgb(2, 2, 2);
           
            color:black;
            
}